.footer-basic-container {
    /* border-radius: 2em 2em 0 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 2em;
    padding-bottom: 7em;
    background: var(--header-footer-gradient);
    color: white; */
}

.footer-basic-button-01 {
    /* padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2); */
}
