.navbar {
  background-color: var(--accent-dark);
  padding: var(--spacing-xss) var(--spacing-xl);
  z-index: 100;
   position: relative;
   height: 4.5em;
   display: flex;
   justify-content: center;
}

.navbar__toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.navbar__title {
  font-weight: bold;
  color: white;
}

.navbar__search {
  width: 35%;
  background-color: white;
  border-radius: var(--radius-sm);
  
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 35%; 
  z-index: 10;
}

.navbar__buttons {
  display: flex;
  gap: var(--spacing-xs);
}

.navbar__button {
  color: #fff;
  padding: var(--spacing-xs) var(--spacing-md);
  border-radius: var(--radius-md);
  text-transform: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}


.navbar__button:hover,
.navbar__button.active {
  background-color: var(--accent-darkish);
  color: var(--white);
}
