#navbar {
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    position: absolute;
    background-color: #f4f4f4;
    /* position: fixed; */
    /* bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 0;
    margin: 1em;
    z-index: 2000;
    width: calc(100% - 2em);
    height: 4em; */ 
}
  
.nav-button {
    /* cursor: pointer;
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center; */
  }

.nav-button-input {
  /* cursor: pointer;
  flex: 1.4; 
  display: flex;
  justify-content: center;
  align-items: center; */

}

button.active {
  /* color: var(--primary-color);  */
}
