:root {
    --light-primary-color: rgb(123, 188, 160);
    --primary-color: rgb(83, 133, 119);
    --darkish-primary-color: rgb(64, 119, 96);
    --dark-primary-color: rgb(28, 67, 58);

    --lightest-khaki: rgb(255, 253, 247);
    --light-khaki: rgb(248, 243, 232);
    --normal-khaki: rgb(233, 230, 215);
    --darkish-khaki: rgb(217, 214, 200);

    --darkest-green: rgb(16, 35, 34);
    --dark-green: rgb(28, 67, 58);
    --darkish-green2: rgb(46, 93, 77);
    --darkish-green: rgb(64, 119, 96);
    --normal-green: rgb(83, 133, 119);
    --light-green: rgb(123, 188, 160);
    --lightest-green: rgb(148, 210, 184);
    --lightest-green2: rgb(191,227, 210);
    --lightest-green3: rgb(240, 255, 248);
}