.hover-scale {
    transition: transform 0.3s ease;
}

.hover-scale:hover {
    transform: scale(1.05);
}

.active-scale {
    transition: transform 0.3s ease;
}

.active-scale:active {
    transform: scale(0.95);
}